{% extends "base.html" %}
{% load static %}

{% block title %}
Book Detail
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="container " align="center">
            <div>
                <h1 align="center" class="display-4 mx-auto my-auto px-5 py-8"> {{ book.name }} Page </h1>
            </div>
        </div>

        <div class="container mt-3" align="center">
            <div class="col-4">
                <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="{% static book.pic_path %}">
                    <div class="card-body">
                        <h2 class="card-title">{{ book.name }}</h2>
                        <p class="card-text">Posted on: {{ book.publishdate }}<br>
                            Price: {{ book.price }}<br>
                            Posted By: {{ book.username }} <br>
                            Website: {{ book.web }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}