{% extends "base.html" %}
{% load static %}

{% block title %}
Display Books
{% endblock title %}

{#{% block sidenav %}#}
{#  {% for item in item_list %}#}
{#
<li>#}
    {# <a href="{{ item.link }}"> {{ item.item }} </a>#}
    {#
</li>#}
{#  {% endfor %}#}
{#{% endblock sidenav %}#}


{% block content %}
<div class="container-fluid">
    <div class="container " align="center">
        <div>
            <h1 align="center" class="display-4 mx-auto my-auto px-3 py-2"> Display Book Page </h1>
        </div>
    </div>


    {% include 'bookMng/filterbooks.html' %}
        <div class="container">
            <div class="row mt-3">
            {% for book in books %}
                <div class="col-3">
                    <a href="book_detail/{{ book.id }}" style="color: black; text-decoration: none">
                    <div class="card">
                        <img class="card-img-top" src="{% static book.pic_path %}">
                        <div class="card-body">
                            <h2 class="card-title">{{ book.name }}</h2>
                            <p class="card-text">Posted on: {{ book.publishdate }} <br>
                                Price: {{ book.price }} <br>
                                Posted By: {{ book.username }}
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
</div>
{% endblock content %}