{% extends "base.html" %}
{% load static %}

{% block title %}
Shipping Rates
{% endblock title %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container my-5">
            <h1 class="display-4" align="center">Shipping Rates and Policies</h1>
            <b>Shipping & Delivery</b>
            <p>Get over $35 worth of stuff and your order ships for FREE! Period. End of story. Need it faster?
                We have some shipping options so that your order will be delivered in the necessary time frame</p>
            <b>Standard Shipping </b>
            <p>our slowest shipping method and will arrive 1-5 business days after it has been shipped out. If you order total is over $35
                Standard shipping service is provided free of charge (standard rates apply for Alaska and Hawaii).</p>
            <b>Expedited Shipping </b>
            <p> 1-3 Business Days </p>
            <b> Two-Day Shipping </b>
            <p>Guarenteed to arrive within two business days or your money back </p>
            <b> One-Day Shipping </b>
            <p>Guarenteed to arrive in one business day or your money back </p>
            <br>
            Delivery times are subject to change. Orders are typically processed within 1-2 business days.
            Orders placed after 1 pm EST, including 2nd Day and Next Day shipments, may not be shipped until the
            following business day.
            <br><br>
            Most of our inventory is stocked and shipped from our stores in Los Angeles, CA.
            In some instances to serve you better we will drop ship items directly to you from the manufacturer.
            <br><br>
            All of our packages are shipped via FedEx or the USPS or by foot.

            <br><br>
            * Free shipping is valid in the contiguous US only (excludes Hawaii & Alaska).
            Please select the "Free Standard Shipping" option during checkout in order to receive free shipping.
            If you choose another shipping option, additional charges will apply. Applies for standard shipments only.
            Faster shipping is available at an additional cost. No adjustments on previous purchases.
            Not valid on international shipments. Some larger items are excluded from the free shipping program.
        </div>
    </div>
</main>
{% endblock content %}